<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zshnb.userservice.mapper.FollowMapper">
  <select id="findFollowUserByUserId" resultType="com.zshnb.userservice.entity.User">
    select *
    from user u
    where u.id in (
      select f.follow_user_id
      from follow f
      where f.user_id = #{userId}
    )
  </select>
</mapper>
